asgiref==3.8.1
backports.zoneinfo==0.2.1
Django==4.2.26
django-rest-framework==0.1.0
djangorestframework==3.15.2
dotenv==0.9.9
psycopg==3.2.13
psycopg2==2.9.10
python-dotenv==1.0.1
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
