@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar styling for WebKit browsers */
.scrollview::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

.scrollview::-webkit-scrollbar-track {
  background: transparent; /* track background */
}

.scrollview::-webkit-scrollbar-thumb {
  background-color: rgba(97, 16, 151, 0.4); /* thumb color */
  border-radius: 4px; /* round edges */
  border: 2px solid transparent; /* optional padding around thumb */
}

/* Optional: hover effect */
.scrollview::-webkit-scrollbar-thumb:hover {
  background-color: rgba(97, 16, 151, 0.6);
}
